.hi-annotation-highlight,
.hi-text-highlight {
	background-color: #FF0
}

.hi-annotations {
	border-top: 1px dotted #aaa;
	margin-top: 12px;
	padding-top: 12px;
}

.hi-annotations li {
	cursor: pointer;
}

.hi-textlayer a {
	cursor: pointer;
}

.hi-textlayer * {
	transition: background-color 0.6s;
}